*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 16px;
}

.canvas {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    /* border: 1px dashed rgb(0 0 0 / 25%); */
    box-shadow: 0 0 15px 2.5px rgb(0 0 0 / 25%);
}

.distance {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1rem;
    color: rgb(0 0 0 / 50%);
    font-size: 1rem;
}

.distance__text {
    flex-grow: 1;
    flex-basis: 50%;
    margin-right: .5rem;
    text-align: right;
}

.distance__value {
    flex-grow: 1;
    flex-basis: 50%;
    text-align: left;
}
